

body {
	font-size: 25px;
	background-color: green;
}

p {
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	margin-left: 5%;
	margin-right: 5%;
}

img{
    width:200px;
    height: auto;
}

.normal {
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	margin-left: 5%;
	margin-right: 5%;
}

.header {
	font-family: Arial;
}

.subheader {
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	margin-left: 5%;
	margin-right: 5%;
}

.bullets {
	font-size: 12px;
	font-family: Arial;
	margin-left: 7%;
}